main ul {
  list-style-type: none;
  margin: 5px;
  display: block;
  height: 400px;
  width: 600px;
  border: 1px solid black;
}

span.game-input {
  color: green;
}

span.command-input {
  color: blue;
}

span.user-input {
  color: red;
}
